*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

*.swp

.bundle
vendor/bundler
*.lock
.git

# YARD artifacts
.yardoc
_yardoc
doc/
