<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
	<meta property="og:title" content="#MacFriends - Share your sticker on Macbook">
    <meta property="og:type" content="website">
    <meta property="og:description" content="世界中のMacbookの背面をシェアします。">
    <meta property="og:url" content="http://macfriends.net">
    <meta property="og:image" content="https://pbs.twimg.com/media/BhPgimnCcAAM3DA.png:large">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
	<link rel="alternate" type="application/rss+xml" title="#MacFriends" href="http://rssc.dokoda.jp/r/cda48350a459151cbe5f7c525e141498/http/macfriends.net/">
    <title>#MacFriends - about</title>
</head>
<body>
    <div class ="container">
	<div class="header">
        <div class="feed">
            <a href="https://twitter.com/MacFriends_"><img alt="Twitter icon grey" src="/images/twitter_icon_grey.png" /></a>
            <a href="http://rssc.dokoda.jp/r/cda48350a459151cbe5f7c525e141498/http/macfriends.net/"><img alt="Feed icon grey" src="/images/feed_icon_grey.png" /></a>
        </div>
			<h1><a href="/">#MacFriends</a></h1>
        </div>
    <div class="jumbotron">
		<p>Welcome to #MacFriends!!</p>
		<p>See and share with friends the lid area of your Macbook!</p><br>
		<p>If it has a word "mac" then don't hesitate to share with friends the lid area of your Macbook! Why not help us, by taking part in this #Macfriends movement!</p><br>
		<p>#Macfriends was inspired by <a href="http://rubyfriends.com">#RubyFriends</a>! Thankyou <a href="http://rubyfriends.com">#Rubyfirends</a>!</p>
		<a href="/" class="btn btn-lg btn-default" role="button">Back</a>
	</div>

		<div class="footer">
            <hr>
            <p>Translate by <a href="https://twitter.com/nanophate">@nanophate</a> 2014</p>
            <p>© <a href="https://twitter.com/enkw_">Naoto Enokawa</a> 2014</p>
        </div>

	</div>
</body>
<html>
