<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="#MacFriends - Share your sticker on Macbook">
  <meta property="og:type" content="website">
  <meta property="og:description" content="世界中のMacbookの背面をシェアします。">
  <meta property="og:url" content="http://macfriends.net">
  <meta property="og:image" content="http://d3l9vlz9go6pun.cloudfront.net/og_image.png">
  <meta name="Description" content="Share your sticker on Macbook with the hashtag #MacFriends" />
  <link href="css/bootstrap1.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet" />
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="#MacFriends" href="http://rssc.dokoda.jp/r/cda48350a459151cbe5f7c525e141498/http/macfriends.net/">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48511895-1', 'macfriends.net');
    ga('send', 'pageview');
  </script>
  <title>#MacFriends - about</title>
</head>
<body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">#MacFriends</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">HOME</a></li>
          <li class="active"><a href="/about">ABOUT</a></li>
          <li><a href="/rank">RANKING</a></li>
          <li><a href="/category">CATEGORY</a></li>
          <li><a href="https://twitter.com/MacFriends_"><i class="fa fa-twitter"></a></i></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

    <div class="container w">
      <h3>Welcome to #MacFriends!!</h3>
      <h3>See and share with friends the lid area of your Macbook!</h3>
      <h3>If it has a word "mac" then don't hesitate to share with friends the lid area of your Macbook! Why not help us, by taking part in this #Macfriends movement!</h3>
      <h3>#Macfriends was inspired by <a href="http://rubyfriends.com">#RubyFriends</a>! Thank you <a href="http://rubyfriends.com">#Rubyfirends</a>!</h3>
      <h3>Contact : <a href="https://twitter.com/enkw_">@enkw_</a></h3>
      <a href="/" class="btn btn-lg btn-default" role="button">Back</a>
      <p></p>
    </div>

    <div id="f">
      <div class="container">
        <div class="row centered">
          <a href="http://twitter.com/share?text=Let's share your sticker on MacBook -&url=http://macfriends.net/&hashtags=MacFriends&via=MacFriends_" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><i class="fa fa-twitter"></i></a>
          <a href="http://www.facebook.com/share.php?u=http://macfriends.net/" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a>
          <p>Translate by <a href="https://twitter.com/nanophate">@nanophate</a> 2015</p>
          <p>© <a href="https://twitter.com/enkw_">Naoto Enokawa</a> 2015</p>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- Footer -->

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap1.min.js"></script>
</body>
<html>
