<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>#MacFriends - about</title>
</head>
<body>
    <div class ="container">
	<div class="header">
        <div class="feed">
            <a href="https://twitter.com/MacFriends_"><img alt="Twitter icon grey" src="/images/twitter_icon_grey.png" /></a>
            <a href="http://rubyfriends.com/tweets.atom"><img alt="Feed icon grey" src="/images/feed_icon_grey.png" /></a>
        </div>
			<h1><a href="/">#MacFriends</a></h1>
        </div>
    <div class="jumbotron">
		<p>Welcome to #MacFriends!!</p>
		<p>See and share the lid Mac friends area of your macbook!</p><br>
		<p>If it has a word "mac" then don't hesitate to share your lid Mac area. Why not help us, by taking part in this #Macfriends movement!</p><br>
		<p>#Macfriends was inspired by <a href="http://rubyfriends.com">#RubyFriends</a>! Thankyou <a href="http://rubyfriends.com">#Rubyfirends</a>!</p>
		<a href="/" class="btn btn-lg btn-default" role="button">Back</a>
	</div>

		<div class="footer">
            <hr>
            <p>Translate by <a href="https://twitter.com/nanophate">@nanophate</a> 2014</p>
            <p>© <a href="https://twitter.com/enkw_">Naoto Enokawa</a> 2014</p>
        </div>

	</div>
</body>
<html>
