<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>#MacFriends - about</title>
</head>
<body>
    <div class ="container">
	<div class="header">
        <div class="feed">
            <a href="https://twitter.com/MacFriends_"><img alt="Twitter icon grey" src="/images/twitter_icon_grey.png" /></a>
            <a href="http://rubyfriends.com/tweets.atom"><img alt="Feed icon grey" src="/images/feed_icon_grey.png" /></a>
        </div>
			<h1><a href="/">#MacFriends</a></h1>
        </div>
    <div class="jumbotron">
		<p>Thank you for accessing #MacFriends!!</p>
		<p>Don’t you think its an awesome idea to share a sticker Macbook lid?</p><br>
		<p> Don't worry about type of Mac to use #MacFriends.</p>
		<p>Mac users! Why don’t we make a movement with #MacFriends.</p><br>
		<p>#MacFriends was inspired by <a href="http://rubyfriends.com">#RubyFriends</a>. I thank with respect to <a href="http://rubyfriends.com">#RubyFriends</a> developers!</p>
		<a href="/" class="btn btn-lg btn-default" role="button">Back</a>
	</div>

		<div class="footer">
            <hr>
            <p>Translate by <a href="https://twitter.com/nanophate">@nanophate</a> 2014</p>
            <p>© <a href="https://twitter.com/enkw_">Naoto Enokawa</a> 2014</p>
        </div>

	</div>
</body>
<html>
