<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>#MacFriends</title>
</head>
<body>
    <div class ="container">
    <h1><a href="/">#MacFriends</a></h1>
    <div class="jumbotron">
	<p>Isn't it great meeting new Mac Friends at conferences, Mac brigades, meetups, hackathons, or wherever?</p>
	<p>Wouldn't it be great to share that new friendship? Now you can! Just snap a pic of you and your new friend(s) together, tweet it with hashtag #MacFriends, and we'll include it on the site here.</p>
	<a href="/" class="btn btn-lg btn-default" role="button">Back</a>
    </div>
</body>
<html>
