<!DOCTYPE html>
<html>
  <head>
    <title>embed.ly!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $("hoge").embedly({
          // ここはそれぞれのAPIキーに置き換えてください
          key:"d483853e76a84ac680c74ad35fdb505a"
        });
      });
    </script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48511895-1', 'macfriends.net');
  ga('send', 'pageview');

</script>
  </head>
  <body>
    <header>
      <h1>embed.ly!</h1>
    </header>

    <article>
      <h1>twitpic</h1>
      <hoge href="http://twitpic.com/dwbzzb">loading</hoge>
    </article>
  </body>
</html>
