<!DOCTYPE html>
<html>
  <head>
    <title>embed.ly!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $("hoge").embedly({
          // ここはそれぞれのAPIキーに置き換えてください
          key:"d483853e76a84ac680c74ad35fdb505a"
        });
      });
    </script>
  </head>
  <body>
    <header>
      <h1>embed.ly!</h1>
    </header>

    <article>
      <h1>twitpic</h1>
      <hoge href="http://twitpic.com/dwbzzb">loading</hoge>
    </article>
  </body>
</html>
