<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<title>#MacFriends - Share your smile with Macbook</title>
</head>
<body>
	<div class ="container">
		<div class="header">
		<div class="feed">
			<a href="https://twitter.com/MacFriends_"><img alt="Twitter icon grey" src="/images/twitter_icon_grey.png" /></a>
			<a href="http://rubyfriends.com/tweets.atom"><img alt="Feed icon grey" src="/images/feed_icon_grey.png" /></a>
		</div>
			<h1><a href="/">#MacFriends</a></h1>
		</div>
		
		<div class="jumbotron">
			<h3>Community starts with friendship! <a href="/about" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></h3>
			<p>Share your Macbook sticker with the hashtag <a href="https://twitter.com/MacFriends_">#MacFriends</a></p>
		</div>
		
		<% @results.attrs[:statuses].each do |tweet| %>
			<h2>@<%= tweet[:user][:screen_name] %></h2>
			<p><%= tweet[:text].to_s %></p>
			<p><%= tweet[:created_at].to_s %></p>
			<% if tweet[:entities][:media] != nil %>
				<img src="<%= tweet[:entities][:media][0][:media_url] %>">
			<% end %>
		<hr>
		<% end %>
		
		
		<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>
</body>
<html>
