<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>#MacFriends</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1><a href="/tweet/">#MacFriends</a></h1>
    <%= yield %>
  </body>
</html>
