<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>#MacFriends</title>
</head>
<body>
    <h1>#MacFriends</h1>
    <%= @hello %>
</body>
<html>
